{% extends 'base.html' %}
{% block title %}Account Info{% endblock %}
{% load static %}

{% block CSS %}
<style>
  #toggle.toggled #url_modify{
    margin-top: 5px;
    min-height: 45px;
    max-height: 45px;

    opacity:1;
  }

  #url_modify {
    min-height: 0px;
    max-height: 0px;
    opacity:0;
    transition: all 0.3s;
  }

  .grid-container {
    display:grid;
    grid-template-columns: 200px 210px;
  }

  #modify {
    -moz-transition: all 0.3s !important;
    -webkit-transition: all 0.3s !important;
    -ms-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
    transition: all 0.3s !important;
  }

  #copy-url {
    -moz-transition: all 0.3s !important;
    -webkit-transition: all 0.3s !important;
    -ms-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
    transition: all 0.3s !important;
  }

  main div p i:hover{
    color:#e83e8c;
  }

</style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">POSMAP</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Map
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'carpool' %}">Car Pool</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'account_logout' %}">LogOut</a>
          {% else %}
          <a class="nav-link" href="{% url 'account_login' %}">LogIn</a>
          {% endif %}
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'ac_info' %}">My Info</a>
          </li>
        {% endif %}
    </ul>
    </div>
  </div>
</nav>

<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm" style="background-color:#6f42c1;">
    <div class="lh-100">
      <h5 class="mb-0 text-white lh-100">{{ user.username }}{%if status == 2 %}<i class="fas fa-crown" style="margin-left:7px; font-size: 15px;"></i>{% endif %}</h5>

    </div>
  </div>
{% if status > 0 %}
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0" style="font-weight:bold;">참여 중인 카풀 </h6>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Destination</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="22%" y="50%" fill="#ffffff" dy=".3em" font-family="FontAwesome">&#xf5a0</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Destination</strong>
          {{ pol.place }}
      </p>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Departure Date</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="26%" y="50%" fill="#ffffff" dy=".3em" font-family="FontAwesome">&#xf017</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Departure Date</strong>
          {{ pol.departure_date }}
      </p>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Total Number</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="19%" y="50%" fill="#ffffff" dy=".3em" font-family="FontAwesome">&#xf0c0</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Total Number</strong>
          {{ pol.number }}
      </p>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Total Load</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="25.5%" y="50%" fill="#ffffff" dy=".3em" font-family="FontAwesome">&#xf0f2</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Total Load</strong>
          {{ pol.load }}
      </p>
    </div>
    <div class="media text-muted pt-3" id="toggle">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>KakaoTalk URL</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="25.5%" y="50%" fill="#ffffff" dy=".3em" font-family="FontAwesome">&#xf075</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">KakaoTalk URL </strong>
          <i class="fas fa-copy" id="copy-url" style="margin-right:5px;"></i>
          {% if status == 2 %} <i class="fas fa-pen-square" id="modify" style="margin-right:5px;"></i> {% endif %}
          <input readonly type="text" id="kakao_url" value="{{ pol.kakao_url }}" style="color:#666666">

          {% if status == 2 %}
            <span class="form-inline" id="url_modify">
              <input type="text" class="form-control" style="font-size: 13px; width:200px; height:30px;" placeholder="" id="url_text" name="name">
              <input id="url_btn" name="{{ pol.id }}" class="btn btn-secondary" style="margin-left:3px; font-family:FontAwesome; height:30px; width:35px; padding:3px;" type="submit" value="&#xf00c">
            </span>
          {% endif %}

      </p>
    </div>
    <small class="d-block text-right mt-3">
      {% if status == 2 %}
        <a href="{% url 'delete' pol.id %}" style="color:red;">Leave</a>
      {% else %}
        <a href="{% url 'leave' pol.id %}" style="color:red;">Leave</a>
      {% endif %}
    </small>
  </div>
{% else %}
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">참여 중인 카풀이 존재하지 않습니다.</strong>
      </p>
    </div>
{% endif %}

{% if status > 0 %}
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0" style="font-weight:bold;">Members</h6>
    {% for mb in members %}
        <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Member</title><rect width="100%" height="100%" fill="#e83e8c"></rect><text x="28%" y="50%" fill="#ffffff" dy=".3em" font-family="FontAwesome">&#xF007</text></svg>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">{{ mb.user.username }}
                {%if mb.status == 2 %}<i class="fas fa-crown" style="margin-left:3px; font-size: 10px;"></i>{% endif %}
              </strong>
            </div>

            <span class="d-block">Number:{{ mb.number }}, Load:{{ mb.load }}</span>
          </div>
        </div>
    {% endfor %}
  </div>
{% endif %}
  <script>
    $("#copy-url").click(function(e) {
      var obj = document.getElementById("kakao_url");
      obj.select(); //인풋 컨트롤의 내용 전체 선택
      document.execCommand("copy"); //복사
      obj.setSelectionRange(0, 0); //선택영역 초기화
    });

    $("#modify").click(function(e) {
      e.preventDefault();
      $("#toggle").toggleClass("toggled");
    });

  </script>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

  $("#url_btn").click(function(){
    var k_url = document.getElementById('url_text').value
    var pk = $(this).attr('name')
    //alert(k_url)
    $.ajax({
      type: "POST",
      url: "{% url 'ac_info' %}",
      data: {'pk': pk, 'content': k_url, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
      dataType: "json",

      success: function(response){
        document.getElementById('kakao_url').value = response.content
      },
      error: function(request, status, error){
        alert("Error!")
      },
    });
  })

</script>

</main>


{% endblock %}