{% extends 'base.html' %} 
{% load static %}
{% block title %} CarPool{% endblock %} 
{% block CSS %}
<link href="{% static 'css/old-sidebar.css' %}" rel="stylesheet">

<style>
    .wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
    .wrap * {padding: 0;margin: 0;}
    .wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
    .info .title {padding: 5px 0 0 10px;height: 32px;background: #eee;border-bottom: 1px solid #ddd;font-size: 16px;font-weight: bold;}
    .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .info .close:hover {cursor: pointer;}
    .info .body {position: relative;overflow: hidden;}
    .info .desc {position: relative;margin: 8px 0 0 10px;height: 75px;}
    .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
    .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    .info .link {color: #5085BB;}
</style>
{% endblock %}

{% block content %}
{{ form.media }}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">POSMAP</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Map
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'carpool' %}">Car Pool</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'account_logout' %}">LogOut</a>
          {% else %}
          <a class="nav-link" href="{% url 'account_login' %}">LogIn</a>
          {% endif %}
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ac_info' %}">My Info</a>
          </li>
        {% endif %}
    </ul>
    </div>
  </div>
</nav>

<div class="d-flex" id="wrapper" name="">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="bg-light border-right" id="sidebar-wrapper" style="">

            <div class="sidebar-heading" style="background-color:#F8F9FA; font-weight: 600;">SEARCH </div>
            <div class="list-group list-group-flush">

                <div style="padding: 5px; margin-left: 10px;"><h6 class="dep" style="font-weight:500;"><i class="fas fa-map-marker-alt" style="margin-right:8px;"></i>Destinations</h6></div>

                <div style="margin-left: 20px;">
                    <form class="form-inline my-2 my-md-0" action="" method="get">
                        <input class="form-control" style="margin-top:8px; width: 74%; font-size: 15px;" type="text" placeholder="Search for Select" name="place_name" value="{{ place_name }}">
                        <input class="btn btn-secondary" style="margin-left:3px; margin-top:8px; font-family:FontAwesome" type="submit" value="&#xf002">
                    </form>
                </div>

                <!-- Sidenav Accordion (Dashboard)-->

                <div id="select_li" style="padding: 3px; margin-left: 17px; margin-top: 6px;">
                        <a id="select-tab" class="navbar-brand" href="" data-toggle="collapse" data-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
                            Select <i class="fas fa-angle-right" id="rotate-arrow" style="margin-left:8px;"></i>
                        </a>
                        <div class="collapse navbar-collapse" id="collapseDashboards">
                            <li><a class="nav-link" href="{% url 'carpool' %}" style="font-family:Metropolis; font-size:13px;">All</a></li>
                            <li id="list0"><a id="link0" class="nav-link" href="{{ places0.0.get_absolute_url }}" style="{%if places0|length >= 1 %} font-family:Metropolis; font-size:13px; {% else %} display:none; {% endif %}">{{ places0.0.name }}</a></li>
                            <li id="list1"><a id="link1" class="nav-link" href="{{ places0.1.get_absolute_url }}" style="{%if places0|length >= 2 %} font-family:Metropolis; font-size:13px; {% else %} display:none; {% endif %}">{{ places0.1.name }}</a></li>
                            <li id="list2"><a id="link2" class="nav-link" href="{{ places0.2.get_absolute_url }}" style="{%if places0|length >= 3 %} font-family:Metropolis; font-size:13px; {% else %} display:none; {% endif %}">{{ places0.2.name }}</a></li>
                            <li id="list3"><a id="link3" class="nav-link" href="{{ places0.3.get_absolute_url }}" style="{%if places0|length >= 4 %} font-family:Metropolis; font-size:13px; {% else %} display:none; {% endif %}">{{ places0.3.name }}</a></li>
                            <form id="page" name="{{idx_min}}" class="form-inline" style="margin-left:3px;">
                                <button id = "prev" class="nav-link" {%if prev_off == 1 %}disabled{% endif %}><i class="fas fa-caret-left" style="margin-right:5px;"></i> Prev</button>
                                <button id = "next" class="nav-link" {%if next_off == 1 %}disabled{% endif %}>Next <i class="fas fa-caret-right" style="margin-left:5px;"></i></button>
                            </form>
                        </div>
                </div>



                <!------------------------------->
                <div style="padding: 5px; margin-top: -5px;">
                    <a class="nav-link" href="{% url 'add_pl' %}">
                    <i class="fas fa-plus" id="plus" style="margin-right:5px;"></i> Add Place</a>
                </div>

                <div class="div_br" style="margin-top: 12px;"><div style="line-height:60%;"><br></div></div>

                <div style="padding: 5px; margin-left: 10px;"><h6 class="arr" style="font-weight:500;"><i class="fas fa-clock" style="margin-right:8px;"></i>Departure Time</h6></div>
                <div style="padding: 5px; margin-left: 15px; width:89%;">
                    <form action="" method="GET" class="search-form">
                        <div class="input-group date" style="margin-top:10px;">
                            <input type="text" placeholder="{{ dep_placeholder.0 }}" name="from_date" class="form-control" required="" id="id_from_date" dp_config="{&quot;id&quot;: &quot;dp_2&quot;, &quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: true, &quot;format&quot;: &quot;YYYY-MM-DD HH:mm&quot;}}">
                            <div class="input-group-addon input-group-append" data-target="#datetimepicker1" data-toggle="datetimepickerv">
                                <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>
                            </div>
                        </div>

                        <div class="input-group date" style="margin-top:5px; margin-bottom:15px;">
                            <input type="text" placeholder="{{ dep_placeholder.1 }}" name="to_date" class="form-control" required="" id="id_to_date" dp_config="{&quot;id&quot;: &quot;dp_3&quot;, &quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: true, &quot;format&quot;: &quot;YYYY-MM-DD HH:mm&quot;}}">
                            <div class="input-group-addon input-group-append" data-target="#datetimepicker1" data-toggle="datetimepickerv">
                                <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>
                            </div>
                        </div>

                        <div style="color:red; margin-bottom:10px; margin-top:-5px;">{%if msg|length > 0 %}<i class="fas fa-exclamation-triangle" style="color:red; margin-right: 5px;"></i>{% endif %} {{ msg }}</div>
                        <input type="submit" style="margin-right: 5px;" value="Search" class="btn btn-secondary" />
                        <a class="btn btn-secondary" href="{% url 'carpool' %}">Cancel</a>
                    </form>
                </div>
                {% if user.is_authenticated and is_join == False %}
                    <a href="{% url 'add' %}" class="btn btn-outline-primary" style="font-family:Metropolis_bold; padding:12px; margin-left: 15px; width:87%; font-size:17px; margin-top:50px;">Create Carpool</a>
                {% endif %}
            </div>
        </div>

    </nav>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle"><i class="fas fa-search" style="margin-right:5px;"></i> Find</button>
    </nav>

    <div class="container-fluid">
      <div class="col">
        <div id="map" style="width:100%;height:80vh;"></div>

        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fcbac962968741f1237b87b069b2a28c"></script>
        <script type="text/javascript">
        var MARKER_WIDTH = 33, // 기본, 클릭 마커의 너비
            MARKER_HEIGHT = 36, // 기본, 클릭 마커의 높이
            OFFSET_X = 12, // 기본, 클릭 마커의 기준 X좌표
            OFFSET_Y = MARKER_HEIGHT, // 기본, 클릭 마커의 기준 Y좌표
            OVER_MARKER_WIDTH = 40, // 오버 마커의 너비
            OVER_MARKER_HEIGHT = 42, // 오버 마커의 높이
            OVER_OFFSET_X = 13, // 오버 마커의 기준 X좌표
            OVER_OFFSET_Y = OVER_MARKER_HEIGHT, // 오버 마커의 기준 Y좌표
            SPRITE_MARKER_URL = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markers_sprites2.png', // 스프라이트 마커 이미지 URL
            SPRITE_WIDTH = 126, // 스프라이트 이미지 너비
            SPRITE_HEIGHT = 146, // 스프라이트 이미지 높이
            SPRITE_GAP = 10; // 스프라이트 이미지에서 마커간 간격
        var a = {{output|safe}};
        var pool_info = {{pool_info|safe}};
        var markerSize = new kakao.maps.Size(MARKER_WIDTH, MARKER_HEIGHT), // 기본, 클릭 마커의 크기
            markerOffset = new kakao.maps.Point(OFFSET_X, OFFSET_Y), // 기본, 클릭 마커의 기준좌표
            overMarkerSize = new kakao.maps.Size(OVER_MARKER_WIDTH, OVER_MARKER_HEIGHT), // 오버 마커의 크기
            overMarkerOffset = new kakao.maps.Point(OVER_OFFSET_X, OVER_OFFSET_Y), // 오버 마커의 기준 좌표
            spriteImageSize = new kakao.maps.Size(SPRITE_WIDTH, SPRITE_HEIGHT); // 스프라이트 이미지의 크기
        var name_arr = [];

        var info_arr = [];
        var positions = [],
            selectedMarker = null; // 클릭한 마커를 담을 변수
        var is_join = {{ is_join|yesno:"true,false" }}
            is_auth = {{ is_auth|yesno:"true,false" }}

        for (var i=0; i< a.pos.length; i++){
            positions.push(new kakao.maps.LatLng(a.pos[i].l1, a.pos[i].l2));
            var hrefstr = '<div><a href="http://127.0.0.1:8000/carpool/join/'+ String(pool_info.info[i].id) +'/" class="link">JOIN</a></div>' //나중에 배포되는 서버 링크에 맞게 수정 요망

            var htmlstring = '<div class="wrap">' +
                             '    <div class="info">' +
                             '        <div class="title">' +
                             pool_info.info[i].name +
                             '            <div class="close" title="닫기" onclick="closeOverlay()"></div>' +
                             '        </div>' +
                             '        <div class="body">' +
                             '            <div class="desc">' +
                             '                <div class="ellipsis"><i class="fas fa-users" style="margin-right:5px;"></i>Number: '+ String(pool_info.info[i].number) +'/4</div>' +
                             '                <div class="ellipsis"><i class="fas fa-suitcase" style="margin-right:8px;"></i>Load: '+ String(pool_info.info[i].load) +'</div>' +
                             '                <div class="ellipsis"><i class="fas fa-clock" style="margin-right:8px;"></i>Date: '+ pool_info.info[i].departure_date +'</div>';

            if (pool_info.info[i].number < 4 && String(is_auth)===String("true") && String(is_join)===String("false")){
                htmlstring = htmlstring + hrefstr;
            }

            htmlstring = htmlstring +
                         '            </div>' +
                         '        </div>' +
                         '    </div>' +
                         '</div>'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다

            name_arr.push(htmlstring);
        }

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(a.map_center[0], a.map_center[1]), // 지도의 중심좌표
                level: 5 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 지도 위에 마커를 표시합니다
        for (var i = 0, len = positions.length; i < len; i++) {
            var gapX = (MARKER_WIDTH + SPRITE_GAP), // 스프라이트 이미지에서 마커로 사용할 이미지 X좌표 간격 값
                originY = (MARKER_HEIGHT + SPRITE_GAP)*2, // 스프라이트 이미지에서 기본, 클릭 마커로 사용할 Y좌표 값
                overOriginY = (OVER_MARKER_HEIGHT + SPRITE_GAP)*2, // 스프라이트 이미지에서 오버 마커로 사용할 Y좌표 값
                normalOrigin = new kakao.maps.Point(0, originY), // 스프라이트 이미지에서 기본 마커로 사용할 영역의 좌상단 좌표
                clickOrigin = new kakao.maps.Point(gapX, originY), // 스프라이트 이미지에서 마우스오버 마커로 사용할 영역의 좌상단 좌표
                overOrigin = new kakao.maps.Point(gapX * 2, overOriginY); // 스프라이트 이미지에서 클릭 마커로 사용할 영역의 좌상단 좌표

            // 마커를 생성하고 지도위에 표시합니다
            addMarker(name_arr[i], positions[i], normalOrigin, overOrigin, clickOrigin);
        }

        // 마커를 생성하고 지도 위에 표시하고, 마커에 mouseover, mouseout, click 이벤트를 등록하는 함수입니다
        function addMarker(name, position, normalOrigin, overOrigin, clickOrigin) {
            var iwContent = name;
            iwRemoveable = true;

            var infowindow = new kakao.maps.CustomOverlay({
                content : iwContent,
                position: position,
                clickable: true
            });
            info_arr.push(infowindow);

            // 기본 마커이미지, 오버 마커이미지, 클릭 마커이미지를 생성합니다
            var normalImage = createMarkerImage(markerSize, markerOffset, normalOrigin),
                overImage = createMarkerImage(overMarkerSize, overMarkerOffset, overOrigin),
                clickImage = createMarkerImage(markerSize, markerOffset, clickOrigin);

            // 마커를 생성하고 이미지는 기본 마커 이미지를 사용합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: position,
                image: normalImage
            });

            // 마커 객체에 마커아이디와 마커의 기본 이미지를 추가합니다
            marker.normalImage = normalImage;

            // 마커에 mouseover 이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'mouseover', function() {

                // 클릭된 마커가 없고, mouseover된 마커가 클릭된 마커가 아니면
                // 마커의 이미지를 오버 이미지로 변경합니다
                if (!selectedMarker || selectedMarker !== marker) {
                    marker.setImage(overImage);
                }
            });

            // 마커에 mouseout 이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'mouseout', function() {
                // 클릭된 마커가 없고, mouseout된 마커가 클릭된 마커가 아니면
                // 마커의 이미지를 기본 이미지로 변경합니다
                if (!selectedMarker || selectedMarker !== marker) {
                    marker.setImage(normalImage);
                }
            });

            // 마커에 click 이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'click', function() {
                var cur_idx;
                for(var idx=0; idx<info_arr.length; idx++){
                    info_arr[idx].setMap(null);
                    if (info_arr[idx] == infowindow){
                        cur_idx = idx;
                    }
                }
                document.getElementById('wrapper').name = String(cur_idx);

                // alert(cur_idx); // 현재 CarPool index 뭐 지우고 추가하고 할 때마다 수시로 변한다.
                infowindow.setMap(map);
                // 클릭된 마커가 없고, click 마커가 클릭된 마커가 아니면
                // 마커의 이미지를 클릭 이미지로 변경합니다
                if (!selectedMarker || selectedMarker !== marker) {
                    // 클릭된 마커 객체가 null이 아니면
                    // 클릭된 마커의 이미지를 기본 이미지로 변경하고
                    !!selectedMarker && selectedMarker.setImage(selectedMarker.normalImage);

                    // 현재 클릭된 마커의 이미지는 클릭 이미지로 변경합니다
                    marker.setImage(clickImage);

                }

                // 클릭된 마커를 현재 클릭된 마커 객체로 설정합니다
                selectedMarker = marker;
                var pos_sel = selectedMarker.getPosition();
            });
        }

        // MakrerImage 객체를 생성하여 반환하는 함수입니다
        function createMarkerImage(markerSize, offset, spriteOrigin) {
            var markerImage = new kakao.maps.MarkerImage(
                SPRITE_MARKER_URL, // 스프라이트 마커 이미지 URL
                markerSize, // 마커의 크기
                {
                    offset: offset, // 마커 이미지에서의 기준 좌표
                    spriteOrigin: spriteOrigin, // 스트라이프 이미지 중 사용할 영역의 좌상단 좌표
                    spriteSize: spriteImageSize // 스프라이트 이미지의 크기
                }
            );

            return markerImage;
        }

        // 지도에 클릭 이벤트를 등록합니다
        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
            for(var idx=0; idx<info_arr.length; idx++){
                info_arr[idx].setMap(null);
            }
        });

        function closeOverlay() {
            var idx = document.getElementById('wrapper').name;
            idx *= 1;
            //alert(idx);
            info_arr[idx].setMap(null);
        }

        </script>
    </div>
</div>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->

<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

  $('#select-tab').click(function(e) {
     e.preventDefault();
     $("#select-tab").toggleClass('rotate');
  });
</script>

<script>
    var places_list = {{places|safe}};
    var min = document.getElementById('page').name;
    min = Number(min);
    var len = places_list.info.length;
    var id;
    var ref;

    $("#prev").click(function(e) {
        e.preventDefault();
        min = min - 4;
        document.getElementById('link0').textContent = places_list.info[min-1].name;
        document.getElementById('link0').href = "http://127.0.0.1:8000/carpool/" + places_list.info[min-1].id + "/"; // 배포 시 링크에 맞게 바꿀 부분이다.
        document.getElementById('list0').style = "display:block;";

        document.getElementById('link1').textContent = places_list.info[min].name;
        document.getElementById('link1').href = "http://127.0.0.1:8000/carpool/" + places_list.info[min].id + "/"; // 배포 시 링크에 맞게 바꿀 부분이다.
        document.getElementById('list1').style = "display:block;";

        document.getElementById('link2').textContent = places_list.info[min+1].name;
        document.getElementById('link2').href = "http://127.0.0.1:8000/carpool/" + places_list.info[min+1].id + "/"; // 배포 시 링크에 맞게 바꿀 부분이다.
        document.getElementById('list2').style = "display:block;";

        document.getElementById('link3').textContent = places_list.info[min+2].name;
        document.getElementById('link3').href = "http://127.0.0.1:8000/carpool/" + places_list.info[min+2].id + "/"; // 배포 시 링크에 맞게 바꿀 부분이다.
        document.getElementById('list3').style = "display:block;";

        if( min+2 < len-1 ){
            document.getElementById('next').disabled = false;
        }
        if( min == 1 ){
            document.getElementById('prev').disabled = true;
        }

        document.getElementById('page').name = String(min);
    });

    $("#next").click(function(e) {
        e.preventDefault();
        min = min + 4;
        if( min-1 < len){
            document.getElementById('link0').textContent = places_list.info[min-1].name;
            document.getElementById('link0').href = "http://127.0.0.1:8000/carpool/" + places_list.info[min-1].id + "/"; // 배포 시 링크에 맞게 바꿀 부분이다.
        }
        else{
            document.getElementById('list0').style = "display:none;";
        }

        if( min < len ){
            document.getElementById('link1').textContent = places_list.info[min].name;
            document.getElementById('link1').href = "http://127.0.0.1:8000/carpool/" + places_list.info[min].id + "/"; // 배포 시 링크에 맞게 바꿀 부분이다.
        }
        else{
            document.getElementById('list1').style = "display:none;";
        }

        if( min+1 < len ){
            document.getElementById('link2').textContent = places_list.info[min+1].name;
            document.getElementById('link2').href = "http://127.0.0.1:8000/carpool/" + places_list.info[min+1].id + "/"; // 배포 시 링크에 맞게 바꿀 부분이다.
        }
        else{
            document.getElementById('list2').style = "display:none;";
        }

        if( min+2 < len ){
            document.getElementById('link3').textContent = places_list.info[min+2].name;
            document.getElementById('link3').href = "http://127.0.0.1:8000/carpool/" + places_list.info[min+2].id + "/"; // 배포 시 링크에 맞게 바꿀 부분이다.
        }
        else{
            document.getElementById('list3').style = "display:none;";
        }

        if( min+2 >= len-1 ){
            document.getElementById('next').disabled = true;
        }
        if( min > 1 ){
            document.getElementById('prev').disabled = false;
        }

        document.getElementById('page').name = String(min);
    });
</script>

{% endblock %}
